@charset "UTF-8";
/**************服务管理**************/
ul, li {
  list-style: none;
}

.set_mange {
  width: 1320px;
}

.role_mange_list {
  width: 1320px;
  margin: 0px auto;
}

.role_mange_list li {
  width: 298px;
  height: 236px;
  border-radius: 4px;
  background: #fff;
  position: relative;
  float: left;
  margin-right: 20px;
  margin-bottom: 23px;
  border: 1px solid #eaeaea;
}

.role_block_tu {
  width: 62px;
  height: 60px;
  background: #ccc;
  margin-bottom: 20px;
}

.role_block_one {
  position: absolute;
  width: 88px;
  height: 100px;
  left: 50%;
  top: 50%;
  margin-left: -44px;
  margin-top: -50px;
}

.role_li:nth-child(4n) {
  margin-right: 0px;
}

.role_block_h {
  background: rgba(0, 0, 0, 0.9);
  width: 298px;
  height: 236px;
  position: absolute;
  z-index: 2;
  padding: 40px;
  bottom: -13px;
  opacity: 0;
  transition: all 0.2s linear;
  border-radius: 4px;
}

.role_mange_list li:hover .role_block_h {
  bottom: 0;
  opacity: 1;
}

.role_block_h h3 {
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.role_block_detail {
  margin-top: 65px;
  color: #fff;
  font-size: 14px;
  text-align: justify;
}

.set_service_btn {
  width: 1320px;
  text-align: left;
}

@media (min-width: 1800px) {
  .role_mange_list {
    width: 1648px;
    margin: 0px auto;
  }
  .role_li:nth-child(4n) {
    margin-right: 20px;
  }
  .role_li:nth-child(5n) {
    margin-right: 0px;
  }
}

/**************角色管理**************/
