<div class="modal-header" style="padding:0px 15px;">
    <h5 class="modal-title" style="height: 42px;line-height: 42px;">
        <span class="modal_name">访问信息</span>
        <a ng-click="cancel()" href="javascript:;" class="modal-close" style="margin-top: 12px;">
        </a>
    </h5>
</div>
<div class="modal-body" style="padding:0;text-align: left;overflow: hidden;background: #000;">
    <div class="container-detail">
        <div class="">
            <div  style="width: 100%;height: 480px;">
                <div class="well well-log" style="margin: 0;width: 100%;padding-left:0;padding-right:0;">
                    <!--<pre style="color:#fff;height:440px;" id="sc">{{con}}</pre>-->
                    <div ng-repeat="(key, value) in con" style="color: #fff;padding:0 15px;overflow: auto;">
                        <div style="padding:2px 0px;word-break:break-all;word-wrap:break-word;">{{key}}&nbsp;:&nbsp;{{value}}</div>
                    </div>
                  <div style="color: #fff;padding:0 15px;overflow: auto;">
                        <div style="padding:2px 0px;word-break:break-all;word-wrap:break-word;">status&nbsp;:&nbsp;{{status}}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <style>




    </style>

</div>
