<div class="modal-header" style="padding:14px 14px;background: #f2f2f1;border-bottom:0;">
  <h5 class="modal-title">
    <span class="modal_name">添加服务</span>
    <a ng-click="cancel()" href="javascript:;" class="modal-close" style="margin-top:4px;">
    </a>
  </h5>
</div>
<div class="modal-body confirm-con" style="padding:30px 20px 30px 20px;background: #fafafa;">
    <div class="con-wrop" style="margin-top:0px;">
      <label>服务名称<i class="modal_red">*</i></label>
      <div class="confirm-select modal_select" ng-class="{modal_select_red:error.servicenamenull}">
          <input type="text" class="modal_input" ng-model="input.servicename">
      </div>
      <div class="error_block_tit" ng-if="error.servicenamenull">
        <p style="margin:0;">服务名称不能为空</p>
      </div>
    </div>
  <div class="con-wrop">
    <label>用户名称<i class="modal_red">*</i></label>
    <div class="confirm-select modal_select" ng-class="{modal_select_red:error.serviceusernull}">
      <input type="text" class="modal_input" ng-model="input.serviceuser">
    </div>
    <div class="error_block_tit" ng-if="error.serviceusernull">
      <p style="margin:0;">用户名称不能为空</p>
    </div>
  </div>
  <div class="con-wrop">
    <label>用户密码<i class="modal_red">*</i></label>
    <div class="confirm-select modal_select" ng-class="{modal_select_red:error.servicepasswordnull}">
      <input type="text" class="modal_input" ng-model="input.servicepassword">
    </div>
    <div class="error_block_tit" ng-if="error.servicepasswordnull">
      <p style="margin:0;">用户密码不能为空</p>
    </div>
  </div>
  <div class="con-wrop">
    <label>URL地址<i class="modal_red">*</i></label>
    <div class="confirm-select modal_select" ng-class="{modal_select_red:error.serviceurlnull}">
      <input type="text" class="modal_input" ng-model="input.serviceurl">
    </div>
    <div class="error_block_tit" ng-if="error.serviceurlnull">
      <p style="margin:0;">URL地址不能为空</p>
    </div>
  </div>

</div>
<div class="modal-footer"   style="text-align: right">
  <span class="btn-newst" ng-click="ok()">确认</span>
</div>

