
/**************角色管理**************/
.set_ser_btn{width:1320px;margin:0px auto;}
.set_ser_btn p{margin-left:60px;background:#f39943;padding:10px 20px;display:inline-block;color:#fff;font-size:14px;}
ul,li{list-style:none;}
.role_mange_list{width:1320px;margin:0px auto;}
.role_mange_list li{width:298px;height:236px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background:#fff;position:relative;
  float:left;margin-right:20px;margin-bottom:23px;border:1px solid #eaeaea;}

.set_top{height:146px;background:#fff;position:relative;}
.set_top_tu{width:122px;height:92px;background:#f0f0f0;position:absolute;top:50%;left:50%;margin-left:-61px;margin-top:-46px;}
.set_bt{height:88px;background:#f0f0f0;width:296px;margin:0 auto;}
.set_bt p{font-size:14px;text-align:center;}
.set_bt p:nth-child(1){color:#333;padding-top:18px;}
.set_bt p:nth-child(2){color:#666;}


.role_block_one{position:absolute;width:88px;height:100px;left:50%;top:50%;margin-left:-44px;margin-top:-50px;}
.role_li:nth-child(4n){margin-right:0px;}
.role_block_h{background:rgba(0,0,0,0.9);width:298px;height:236px;position:absolute;z-index:2;padding:40px;bottom:-13px;opacity:0;
  -webkit-transition:all 0.2s linear; -moz-transition:all 0.2s linear;transition:all 0.2s linear;
  -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.role_mange_list li:hover .role_block_h{bottom:0;opacity: 1;}
.role_block_h p{color:#fff;font-size:12px;}
.role_block_detail span{padding:6px 10px;border:1px solid #f39943;cursor:pointer;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;margin-right:10px;}
.role_block_detail span:nth-child(1){background:#f39943;}
.role_li_add{font-size:80px;color:#eaeaea;position:absolute;top:50%;left:50%;-webkit-transform: translate(-50%,-50%);}
.role_block_detail{margin-top:65px;color:#fff;font-size:14px;text-align:justify;}

@media (min-width: 1800px) {
  .set_ser_btn{width:1648px;margin:0px auto;}
  .role_mange_list{width:1648px;margin:0px auto;}
  .role_li:nth-child(4n){margin-right:20px;}
  .role_li:nth-child(5n){margin-right:0px;}
}
/**************角色管理**************/

