 .nav-tenant{
   :focus{
     outline : none;
   }
   .project-list{
     width: 100%;
     overflow: hidden;
     margin:0;
     padding:0;
     padding-bottom:10px;
     >div{
       height: 160px;
       margin-top:30px;

       >div{
         padding:0px 15px;
         background: #f7f7f7;
         height: 160px;
         text-align: center;
         img{
           width: 60px;
           height: 60px;
           margin-top:30px;
         }
         p{
           font-size: 16px;
           margin-top:15px;
         }
       }
       >div:hover{
         box-shadow: 0px 0px 4px 2px #dedede;
         border-radius: 4px;
       }

     }
     >div:nth-child(4n+1){
       //padding-left:0;
     }
   }

    padding: 0;
    margin: 0;
    .tree-light{
      background: #ebebe9;
      font-size: 16px;
      padding:0;
        li{
          position: relative;
          i{
            position: absolute;
            top:18px;
            left:30px;
            z-index: 100;
            width: 20px;
            height: 20px;
          }
          div{
            display: block;
            width: 100%;
            height: 100%;
            padding-left:60px
          }
          div:hover{
            color: #ce1515;
          }
          div.tree-selected{
            background: #fff;
            font-weight:normal;
            color: #ce1515;
            border-left:4px solid #ce1515;
          }
          padding:0;
          line-height: 50px;
          ul{
            font-size: 14px;
            background: #f3f3f2;
          }
        }

    }


   .right-nav{
     width: 100%;
     overflow: hidden;
     margin:0;
     padding:0;
     margin-top:30px;
     li{
       width: 140px;
       height: 50px;
       text-align: center;
       font-size: 16px;
       padding-bottom:10px;
       float: left;
       border-bottom: 1px solid #eaeaea;
       cursor: pointer;
       span{
         display: inline-block;
         width: 100%;
         height: 40px;
         line-height: 40px;
         border-right: 1px solid #eaeaea;
       }
     }
     li.active{
       border-bottom:2px solid #ce1515 ;
     }

   }
   .right-content{
     padding:0;
     margin:0;
     width: 100%;
     height: auto;
     >li{
       width: 100%;
       height:auto;
       display: none;
       .user-authorize{
         margin-top:30px;
         span{
           width: 200px;
           height: 50px;
           line-height:50px;
           color: #fff;
           text-align: center;
           background: #c256fc;
           display: inline-block;
           border-radius: 24px;
           font-size: 20px;
           cursor: pointer;
         }
       }
       .tenant-serve-list{
         padding:0;
         li{
           overflow: hidden;
           width: 100%;
           height: 60px;
           background: #f7f7f7;
           margin-top:30px;
           div{
             height: 100%;
             line-height: 60px;
             padding:0;
             a{
               padding:5px 15px;
               border-radius: 14px;
               color: #c256fc;
             }
             a:hover{
               background: #c256fc;
               color:#fff;
             }
           }
           span{
             color: #999;
           }
         }
         li:hover{
           box-shadow: 0px 0px 4px 2px #dedede;
           border-radius: 4px;
         }
         li div:nth-child(1){
           img {
             width: 60px;
             height: 60px;
             background: red;
           }
         }
       }
     }
     >li.showcon{
       display: block;
     }
   }

  }


