$smbg: #c256fc !default;
.nav-tenant {
  :focus {
    outline: none;
  }
  .project-list {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    > div {
      height: 160px;
      margin-top: 30px;

      > div {
        padding: 0px 15px;
        background: #f7f7f7;
        height: 160px;
        text-align: center;
        img {
          width: 60px;
          height: 60px;
          margin-top: 30px;
        }
        p {
          font-size: 16px;
          margin-top: 15px;
        }
      }
      > div:hover {
        box-shadow: 0px 0px 4px 2px #dedede;
        border-radius: 4px;
      }

    }
    > div:nth-child(4n+1) {
      //padding-left:0;
    }
  }

  padding: 0;
  margin: 0;
  .tree-classic {
    background: #ebebe9;
    font-size: 16px;
    padding: 0;
    li {
      position: relative;
      i {
        position: absolute;
        top: 18px;
        left: 30px;
        z-index: 100;
        width: 20px;
        height: 20px;
      }
      i.tree-branch-head {
        -webkit-background-size: 20px !important;
        background-size: 20px !important;
        background-position: 0px -2px !important;
      }
      div {
        display: block;
        width: 100%;
        height: 100%;
        padding-left: 60px
      }
      div:hover {
        color: #ce1515;
      }
      div.tree-selected {
        background: #fff;
        font-weight: normal;
        color: #ce1515;
        border-left: 4px solid #ce1515;
      }
      padding: 0;
      line-height: 50px;
      ul {
        font-size: 14px;
        background: #f3f3f2;
        li {
          div {
            padding-left: 90px !important;

          }
          i {
            left: 55px !important;
            top: 16px !important;
          }
          ul {
            li {
              i {
                background: none !important;
              }
            }
          }
        }
      }
    }

    li.tree-expanded {
      i.tree-branch-head {
        background-image: url('../images/folder.png');
      }
    }
    li.tree-collapsed {
      i.tree-branch-head {
        background-image: url('../images/folder-closed.png');
      }
    }
    li.tree-leaf {
      i.tree-leaf-head {
        background-image: url('../images/file.png');
        -webkit-background-size: 20px !important;
        background-size: 20px !important;
        background-position: 0px -2px !important;
      }
    }

  }

  .right-top {
    height: 50px;
    line-height: 50px;
    background: #f7f7f7;
    padding-left: 30px;
    font-size: 16px;
  }
  .right-nav {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    padding-left: 30px;
    li {
      width: 140px;
      height: 50px;
      text-align: center;
      font-size: 16px;
      padding-bottom: 10px;
      float: left;
      border-bottom: 1px solid #eaeaea;
      cursor: pointer;
      span {
        display: inline-block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-right: 1px solid #eaeaea;
      }
    }
    li.active {
      border-bottom: 2px solid #ce1515;
    }

  }
  .right-content {
    padding: 0px 30px;
    margin: 0;
    width: 100%;
    height: auto;
    > li {
      width: 100%;
      height: auto;
      display: none;
      .user-authorize {
        margin-top: 30px;
        span {
          width: 100px;
          height: 30px;
          line-height: 30px;
          color: #fff;
          text-align: center;
          background: $smbg;
          display: inline-block;
          border-radius: 24px;
          font-size: 14px;
          cursor: pointer;
        }
      }
      .tenant-serve-list {
        padding: 0;
        li {
          overflow: hidden;
          width: 100%;
          height: 60px;
          background: #f7f7f7;
          margin-top: 30px;
          div {
            height: 100%;
            line-height: 60px;
            padding: 0;
            a {
              padding: 5px 15px;
              border-radius: 14px;
              color: $smbg;
            }
            a:hover {
              background: $smbg;
              color: #fff;
            }
          }
          span {
            color: #999;
          }
        }
        li:hover {
          box-shadow: 0px 0px 4px 2px #dedede;
          border-radius: 4px;
        }
        li div:nth-child(1) {
          img {
            width: 60px;
            height: 60px;
            //background: red;
          }
        }
      }
      .resource-wrop:hover {
        box-shadow: 0px 0px 4px 2px #dedede;
        border-radius: 4px;
      }
      .resource-wrop {
        width: 100%;
        height: auto;
        background: #f7f7f7;
        padding: 20px;
        margin-top: 30px;
        .resource-top {
          //height: 30px;
          line-height: 30px;
          //margin-bottom:20px;
          > div {
            height: 30px;
            .check-btn {
              display: inline-block;
              width: 28px;
              height: 28px;
              background: url("../images/listpic1.png") no-repeat;
              -webkit-background-size: 28px;
              background-size: 28px;
              cursor: pointer;
              transform: rotate(0deg);
              -ms-transform: rotate(0deg); /* IE 9 */
              -webkit-transform: rotate(0deg); /* Safari and Chrome */
              -o-transform: rotate(0deg); /* Opera */
              -moz-transform: rotate(0deg); /* Firefox */
            }
            .rotate {
              display: inline-block;
              width: 28px;
              height: 28px;
              background: url("../images/listpic1.png") no-repeat;
              -webkit-background-size: 28px;
              background-size: 28px;
              cursor: pointer;
              transform: rotate(-90deg);
              -ms-transform: rotate(-90deg); /* IE 9 */
              -webkit-transform: rotate(-90deg); /* Safari and Chrome */
              -o-transform: rotate(-90deg); /* Opera */
              -moz-transform: rotate(-90deg); /* Firefox */
            }
          }

        }
        .resource-list {
          background: #fff;
          margin-top: 25px;
          .list-con {
            width: 100%;
            border-top: 1px solid #f7f7f7;
            padding: 20px;
            .used {
              text-align: center;
              font-size: 40px;
              color: red
            }
            .chart-title {
              color: #999;
              text-align: center;
            }
            .highcharts-container {
              left: 50%;
              margin-left: -75px;
            }
            .run-num {
              font-size: 40px;
              color: #ff304a;
              height: 150px;
              line-height: 150px;
              padding-right: 30px;
            }
          }
        }
      }
    }
    > li.showcon {
      display: block;
    }
  }

}

.nav-tenant {
  .right-content {
    > li {
      .basic_block {
        height: auto;
        border: 1px solid #f0f0f0;
        margin-top: 30px;
        border-bottom: 0;
        > li {
          margin-top: 0;
          background: #fff;
          overflow: inherit;
          display: table-row;
          border-bottom: 1px solid #eaeaea;
          height: 26px;
          > div {
            line-height: 26px;
          }
          > div:nth-child(1) {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            width: 160px;
            border-bottom: 1px solid #eaeaea;
            text-align: left;
            text-indent: 20px;
            color: #999;
            padding-right: 20px
          }
          > div:nth-child(2) {
            display: table-cell;
            width: 920px;
            text-align: justify;
            border-bottom: 1px solid #eaeaea;
            padding: 10px;

          }
        }
        > li:last-child {
          border-bottom: 0;
        }
        > li:hover {
          box-shadow: none;
        }
      }
    }
  }
}
//资源报告显示
.tenant_main{display:-moz-box;display:-webkit-box;display: flex;}
.tenant_block{-webkit-box-flex:1;-moz-box-flex:1;flex:1;}



