 .nav-tenant{
   :focus{
     outline : none;
   }
   .user-authorize{
     margin-top:30px;
     span{
       width: 200px;
       height: 50px;
       line-height:50px;
       color: #fff;
       text-align: center;
       background: #c256fc;
       display: inline-block;
       border-radius: 24px;
       font-size: 20px;
       cursor: pointer;
     }
   }
    padding: 0;
    margin: 0;
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
      border-top:none;
      border-bottom:2px solid #ce1515 ;
      outline : none;
    }
    .nav>li>a:hover{
      background: none;
      border-left-color:#fff;
      border-top-color:#fff;
    }
    .nav-tabs>li>a{
      border-right:1px solid #eaeaea;
      padding:10px 40px;
      outline : none;
      font-size: 16px;
      color:#333;
      margin-right:0;
      border-radius: 0;
    }
   .nav-tabs>li:nth-child(1)>a{
     border-left:0 ;
   }
    .tree-light{
      background: #ebebe9;
      font-size: 16px;
      padding:0;
        li{
          position: relative;
          i{
            position: absolute;
            top:18px;
            left:0;
            z-index: 100;
            width: 20px;
            height: 20px;
          }
          div{
            display: block;
            width: 100%;
            height: 100%;
            padding-left:60px
          }
          div.tree-selected{
            background: #fff;
            font-weight:normal;
          }
          padding:0;
          line-height: 50px;
          ul{
            font-size: 14px;
            background: #f3f3f2;
          }
        }

    }

    .tenant-serve-list{
      padding:0;
      li{
        overflow: hidden;
        width: 100%;
        height: 60px;
        background: #f7f7f7;
        margin-top:30px;
        div{
          height: 100%;
          line-height: 60px;
          padding:0;
          a{
            padding:5px 15px;
            border-radius: 14px;
            color: #c256fc;
          }
          a:hover{
            background: #c256fc;
            color:#fff;
          }
        }
        span{
          color: #999;
        }
      }
      li:hover{
        box-shadow: 0px 0px 4px 2px #ccc;
        border-radius: 4px;
      }
      li div:nth-child(1){
         img {
           width: 60px;
           height: 60px;
           background: red;
         }
      }
    }

  }

