
/**************用户管理**************/

/**************用户管理**************/

.role_mange_listnew{margin:0px;padding:0px;}
.role_mange_listnew li{width:18%;height:340px;background:#fff;position:relative;margin:0 13px;
  float:left;margin-bottom:30px;-webkit-transition:all 0.2s linear; -moz-transition:all 0.2s linear;transition:all 0.2s linear;}
//.role_linew:nth-child(4n){margin-right:0px;}
.role_block_hnew{background:rgba(255,255,255,0.92);width:100%;height:240px;position:absolute;z-index:2;padding:40px;top:-24px;opacity:0;
  -webkit-transition:all 0.2s linear; -moz-transition:all 0.2s linear;transition:all 0.2s linear;
  -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;padding-top:60px;padding-bottom:60px;}
.role_mange_listnew li:hover{-webkit-box-shadow: -1px 2px 9px #dedede;-moz-box-shadow: -1px 2px 9px #dedede;box-shadow: -1px 2px 9px #dedede;}
.role_mange_listnew li:hover .role_block_h{top:0;opacity: 1;}
@media screen and (min-width: 1920px) {
  .role_mange_listnew li{width:11%;height:340px;background:#fff;position:relative;margin:0 13px;margin-bottom:30px;}
  .role_linew:nth-child(8n){margin-right:0px;}
}
@media screen and (max-width:1919px) and (min-width:1360px) {
  .role_mange_listnew li{width:15%;height:340px;background:#fff;position:relative;margin:0 11px;margin-bottom:30px;}
  .role_linew:nth-child(6n){margin-right:0px;}
}
@media screen and (max-width: 1359px)and (min-width:1024px){
  .role_mange_listnew li{width:17%;height:340px;background:#fff;position:relative;margin:0 17px;margin-bottom:30px;}
  .role_linew:nth-child(6n){margin-right:0px;}
}
