<div class="row dashboard">
    <div id="tree" class="col-md-3">
    </div>
   <div class="col-md-9">
        <uib-tabset class="tab-default">
           <uib-tab index="1" >
                <uib-tab-heading >
                  基本信息
                </uib-tab-heading>
                <div>1111</div>
           </uib-tab>
          <uib-tab index="2" >
            <uib-tab-heading >
              资源报告
            </uib-tab-heading>
            <div>222</div>
          </uib-tab>
          <uib-tab index="3" >
            <uib-tab-heading >
              用户列表
            </uib-tab-heading>
            <div>333</div>
          </uib-tab>
        </uib-tabset>
   </div>

  <!--<div class="row">-->
    <!--<div class="col-md-6">-->
      <!--<div class="panel panel-default">-->
        <!--<div class="panel-heading">报表一</div>-->
        <!--<div class="panel-body">-->
          <!--<canvas class="chart chart-bar" chart-data="data3" chart-labels="labels3" chart-series="series3" height="200">-->
          <!--</canvas>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-6">-->
      <!--<div class="panel panel-default">-->
        <!--<div class="panel-heading">报表二</div>-->
        <!--<div class="panel-body">-->
          <!--<canvas class="chart chart-line" chart-data="data2" chart-labels="labels2" chart-series="series2"-->
                  <!--chart-options="{legend:{display:true}}" height="200">-->
          <!--</canvas>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col-md-6">-->
      <!--<div class="panel panel-default">-->
        <!--<div class="panel-heading">报表三</div>-->
        <!--<div class="panel-body">-->
          <!--<canvas class="chart chart-pie" chart-data="data1" chart-labels="labels1"-->
                  <!--chart-options="{legend:{display:true}}" height="200">-->
          <!--</canvas>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>
