<div class="jumbotron">
  <div class="panel panel-default">
    <div class="panel-heading">表</div>
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>名称</th>
          <th>状态</th>
          <th>时间</th>
          <th>操作</th>
          <th>动作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>表名称</td>
          <td>1</td>
          <td>time</td>
          <td>添加</td>
          <td>动作</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
