<!--统一管理平台-->
<div class="home_page">
  <div class="set_mange">
    <ul class="role_mange_list">
      <li class="role_li" ui-sref="console.tenant">
        <div class="role_block">
          <div class="set_top">
            <img src="images/home_tenant.png" class="set_top_tu">
          </div>
          <div class="set_bt">
            <p>多租户管理平台</p>
            <p>管理入口</p>
          </div>
        </div>
      </li>

      <li class="role_li" onclick="window.open('http://10.247.11.9:8080/#/login')">
        <div class="role_block">
          <div class="set_top">
            <img src="images/home_orange.png" class="set_top_tu">
          </div>
          <div class="set_bt">
            <p>橘云大数据运维平台</p>
            <p>管理入口</p>
          </div>
        </div>
      </li>

      <li class="role_li">
        <div class="role_block">
          <div class="set_top">
            <img src="images/home_genplum.png" class="set_top_tu">
          </div>
          <div class="set_bt">
            <p>GreenPlum</p>
            <p>管理入口</p>
          </div>
        </div>
      </li>

      <li class="role_li">
        <div class="role_block">
          <div class="set_top">
            <img src="images/home_mongo.png" class="set_top_tu">
          </div>
          <div class="set_bt">
            <p>MongoDB</p>
            <p>管理入口</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
