<div class="set_mange">
  <div class="set_ser_btn">
    <p>添加服务</p></div>
  <ul class="role_mange_list">
    <li class="role_li">
      <div class="role_block">
          <div class="set_top">
            <div class="set_top_tu"></div>
          </div>
        <div class="set_bt">
          <p>HBase</p>
          <p>HBase服务描述HBase服务描述HBase服务描述HBase服务描述HBase服务描述HBase服务描述HBase服务描述</p>
        </div>
      </div>
      <div class="role_block_h" >
        <div class="service_one">
          <p class="serv_tit">服务来源</p>
          <p class="serv_detail">OCDP:HBase</p>
        </div>
        <div class="service_one service_two">
          <p class="serv_tit">服务类型</p>
          <p class="serv_detail">HBase</p>
        </div>

        <p class="servie_change">修改</p>
      </div>
    </li>

    <li class="role_li">
      <div class="role_block">
        <div class="set_top">
          <div class="set_top_tu"></div>
        </div>
        <div class="set_bt">
          <p>HBase</p>
          <p>HBase服务描述</p>
        </div>
      </div>
      <div class="role_block_h" >
        <div class="service_one">
          <p class="serv_tit">服务来源</p>
          <p class="serv_detail">OCDP:HBase</p>
        </div>
        <div class="service_one service_two">
          <p class="serv_tit">服务类型</p>
          <p class="serv_detail">HBase</p>
        </div>

        <p class="servie_change">修改</p>
      </div>
    </li>

    <li class="role_li">
      <div class="role_block">
        <div class="set_top">
          <div class="set_top_tu"></div>
        </div>
        <div class="set_bt">
          <p>HBase</p>
          <p>HBase服务描述</p>
        </div>
      </div>
      <div class="role_block_h" >
        <div class="service_one">
          <p class="serv_tit">服务来源</p>
          <p class="serv_detail">OCDP:HBase</p>
        </div>
        <div class="service_one service_two">
          <p class="serv_tit">服务类型</p>
          <p class="serv_detail">HBase</p>
        </div>

        <p class="servie_change">修改</p>
      </div>
    </li>

    <li class="role_li">
      <div class="role_block">
        <div class="set_top">
          <div class="set_top_tu"></div>
        </div>
        <div class="set_bt">
          <p>HBase</p>
          <p>HBase服务描述</p>
        </div>
      </div>
      <div class="role_block_h" >
        <div class="service_one">
          <p class="serv_tit">服务来源</p>
          <p class="serv_detail">OCDP:HBase</p>
        </div>
        <div class="service_one service_two">
          <p class="serv_tit">服务类型</p>
          <p class="serv_detail">HBase</p>
        </div>

        <p class="servie_change">修改</p>
      </div>
    </li>

    <li class="role_li">
      <div class="role_block">
        <div class="set_top">
          <div class="set_top_tu"></div>
        </div>
        <div class="set_bt">
          <p>HBase</p>
          <p>HBase服务描述</p>
        </div>
      </div>
      <div class="role_block_h" >
        <div class="service_one">
          <p class="serv_tit">服务来源</p>
          <p class="serv_detail">OCDP:HBase</p>
        </div>
        <div class="service_one service_two">
          <p class="serv_tit">服务类型</p>
          <p class="serv_detail">HBase</p>
        </div>

        <p class="servie_change">修改</p>
      </div>
    </li>

    <li class="role_li">
      <div class="role_block">
        <div class="set_top">
          <div class="set_top_tu"></div>
        </div>
        <div class="set_bt">
          <p>HBase</p>
          <p>HBase服务描述</p>
        </div>
      </div>
      <div class="role_block_h" >
        <div class="service_one">
          <p class="serv_tit">服务来源</p>
          <p class="serv_detail">OCDP:HBase</p>
        </div>
        <div class="service_one service_two">
          <p class="serv_tit">服务类型</p>
          <p class="serv_detail">HBase</p>
        </div>

        <p class="servie_change">修改</p>
      </div>
    </li>

    <li class="role_li">
      <div class="role_block">
        <div class="set_top">
          <div class="set_top_tu"></div>
        </div>
        <div class="set_bt">
          <p>HBase</p>
          <p>HBase服务描述</p>
        </div>
      </div>
      <div class="role_block_h" >
        <div class="service_one">
          <p class="serv_tit">服务来源</p>
          <p class="serv_detail">OCDP:HBase</p>
        </div>
        <div class="service_one service_two">
          <p class="serv_tit">服务类型</p>
          <p class="serv_detail">HBase</p>
        </div>

        <p class="servie_change">修改</p>
      </div>
    </li>

  </ul>
</div>
