<div class="role_mange set_mange">
  <div class="set_ser_btn">
    <p>服务管理</p></div>
  <ul class="role_mange_list">
    <li class="role_li">
      <div class="role_block">
          <div class="set_top">
            <div class="set_top_tu"></div>
          </div>
        <div class="set_bt">
          <p>HBase</p>
          <p>HBase服务描述</p>
        </div>
      </div>
      <div class="role_block_h" >
        <p>服务来源 OCDP:HBase</p>
        <p>服务类型 HBase</p>
        <div class="role_block_detail">
          <span>查看</span>
          <span>修改</span>
          <span>删除</span>
        </div>
      </div>
    </li>

    <li class="role_li">
      <div class="role_block">
        <div class="set_top">
          <div class="set_top_tu"></div>
        </div>
        <div class="set_bt">
          <p>HBase</p>
          <p>HBase服务描述</p>
        </div>
      </div>
      <div class="role_block_h" >
        <p>服务来源 OCDP:HBase</p>
        <p>服务类型 HBase</p>
        <div class="role_block_detail">
          <span>查看</span>
          <span>修改</span>
          <span>删除</span>
        </div>
      </div>
    </li>

    <li class="role_li">
      <div class="role_block">
        <div class="set_top">
          <div class="set_top_tu"></div>
        </div>
        <div class="set_bt">
          <p>HBase</p>
          <p>HBase服务描述</p>
        </div>
      </div>
      <div class="role_block_h" >
        <p>服务来源 OCDP:HBase</p>
        <p>服务类型 HBase</p>
        <div class="role_block_detail">
          <span>查看</span>
          <span>修改</span>
          <span>删除</span>
        </div>
      </div>
    </li>

    <li class="role_li">
      <div class="role_block">
        <div class="set_top">
          <div class="set_top_tu"></div>
        </div>
        <div class="set_bt">
          <p>HBase</p>
          <p>HBase服务描述</p>
        </div>
      </div>
      <div class="role_block_h" >
        <p>服务来源 OCDP:HBase</p>
        <p>服务类型 HBase</p>
        <div class="role_block_detail">
          <span>查看</span>
          <span>修改</span>
          <span>删除</span>
        </div>
      </div>
    </li>

    <li class="role_li">
      <div class="role_block">
        <div class="set_top">
          <div class="set_top_tu"></div>
        </div>
        <div class="set_bt">
          <p>HBase</p>
          <p>HBase服务描述</p>
        </div>
      </div>
      <div class="role_block_h" >
        <p>服务来源 OCDP:HBase</p>
        <p>服务类型 HBase</p>
        <div class="role_block_detail">
          <span>查看</span>
          <span>修改</span>
          <span>删除</span>
        </div>
      </div>
    </li>

    <li class="role_li">
        <div class="role_li_add">＋</div>

    </li>
  </ul>
</div>
