<div class="row nav-tenant" style="margin:0;padding:0;margin-top:-40px;background:#fff;">
  <!--<div id="tree" class="col-md-3" style="height: 100%; background: #ebebe9;">-->
  <!--</div>-->
  <div  treecontrol class="col-md-2 tree-classic"
        tree-model="dataForTheTree"
        options="treeOptions"
        on-selection="showSelected(node)"
        selected-node="selected"
        style="margin-top:-2px;">
    {{node.name}}
  </div>

  <div class="col-md-10" style="margin:0;padding:0;margin-top:-2px;">
    <div class="right-top">{{grid.roleTitle}}</div>
    <ul class="right-nav">
      <li  class="active" ng-show="grid.showCompany" ng-click="changeCon()"><span>子公司列表</span></li>
      <li ng-show="grid.showProject" ng-click="changeCon()"><span>项目列表</span></li>
      <li ng-show="grid.showChildnode" ng-click="changeCon()"><span>基本信息</span></li>
      <li ng-show="grid.showChildnode" ng-click="changeCon()"><span>服务列表</span></li>
      <li ng-click="changeCon()"><span>资源报告</span></li>
      <li ng-click="changeCon()"><span>用户列表</span></li>
    </ul>
    <ol class="right-content">
      <li class="showcon">
        <div class="row project-list">
          <div class="col-md-3" ng-repeat="child in childrens">
            <div>
              <img src="./images/role_company.png" alt="">
              <p>{{child.name}}</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="row project-list">
          <div class="col-md-3"  ng-repeat="child in childrens">
            <div>
              <img src="./images/role_company.png" alt="">
              <p>{{child.name}}</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <ul class="tenant-serve-list basic_block">
          <li>
              <div>租户名称</div>
              <div>{{nodeIf.name}}</div>
          </li>
          <li>
              <div>租户描述</div>
              <div>{{nodeIf.description}}</div>
          </li>
          <li>
            <div>租户其他信息</div>
            <div>{{nodeIf.description}}</div>
          </li>
         </ul>

      </li>
      <li>
        <ul class="tenant-serve-list">
          <li class="row" ng-repeat="bsi in bsisitem">
            <div class="col-md-1"><img src="./images/serviceimg/{{bsi.serviceTypeName}}.png" onerror="javascript:this.src='./images/serviceimg/default.png'" alt=""></div>
            <div class="col-md-2"><span>服务名</span>&nbsp;&nbsp;{{bsi.instanceName}}</div>
            <div class="col-md-3"><span>用户容量</span>&nbsp;&nbsp;路径&nbsp;:&nbsp;/usr/zhongxin/balbala;</div>
            <div class="col-md-2">配额&nbsp;:&nbsp;{{bsi.quota}}</div>
            <div class="col-md-2">文件数&nbsp;:&nbsp;1000</div>
            <div class="col-md-2"><a ng-click="checkInfo(bsi.tenantId,bsi.instanceName)" href="javascript:void(0);">访问信息</a></div>
          </li>
        </ul>
        <div class="page-style" ng-if="grid.bsitotal>10">
          <uib-pagination
            ng-model="grid.bsipage"
            total-items="grid.bsitotal"
            items-per-page="grid.bsisize"
            class="pagination-sm"
            boundary-links="true"
            max-size="12"
            rotate="true"
            previous-text="上一页"
            next-text="下一页"
            first-text="首页"
            last-text="末页">
          </uib-pagination>
        </div>
      </li>
      <li>
        <div class="resource-wrop"  ng-repeat="(timeIndex,item) in newServeArr">
              <div >
                <div class="row resource-top">
                  <div class="col-md-6" style="text-align: left;font-size: 16px;">{{item.serviceTypeName}}</div>
                  <div class="col-md-6" style="text-align: right;font-size: 16px;"><sapn ng-class="{'rotate':!item.isshow, 'check-btn': item.isshow}" ng-click="toggleServe($index)"></sapn></div>
                </div>
                <div class="resource-list" ng-repeat="arr in item.servesList" ng-if="item.isshow">
                      <div>
                        <div class="row resource-top" style="padding:20px;">
                          <div class="col-md-6" style="text-align: left;font-size: 16px;">{{arr.instanceName}}{{timeIndex}}</div>
                          <div class="col-md-6" style="text-align: right;font-size: 16px;"><sapn ng-class="{'rotate':!arr.isshow, 'check-btn': arr.isshow}" ng-click="toggleServeList(timeIndex,$index,arr)"></sapn></div>
                        </div>
                        <div class="list-con" ng-show="arr.isshow">
                          <div class="row">
                            <div class="col-md-3 " ng-repeat="charsarr in  arr.charsArr">
                              <highchart config="charsarr.chartsobj"></highchart>
                              <div class="chart-title">{{charsarr.name}}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
              </div>
        </div>
      </li>
      <li>
        <div class="user-authorize" ng-if="!ismember"><span ng-click="userAuthorize()">用户授权</span></div>
        <ul class="tenant-serve-list">
          <li class="row" ng-repeat="item in useritem">
            <div class="col-md-1"><img src="./images/user-listicon.png" alt=""></div>
            <div class="col-md-2"><span>用户名</span>&nbsp;&nbsp;{{item.userName}}</div>
            <div class="col-md-3"><span>用户角色</span>&nbsp;&nbsp;{{item.roleId | phaseFilter}}</div>
            <div class="col-md-4"><span>用户描述</span>&nbsp;:&nbsp;{{item.userDescription}}</div>
            <div class="col-md-2" ng-if="!ismember"><a href="javascript:void(0);" ng-click="updataUser(item)">修改</a><a href="javascript:void(0);" ng-click="delUser(item.userId,item.userName)">删除</a></div>

          </li>
        </ul>
        <div class="page-style" ng-if="grid.usertotal>10">
          <uib-pagination
            ng-model="grid.userpage"
            total-items="grid.usertotal"
            items-per-page="grid.usersize"
            class="pagination-sm"
            boundary-links="true"
            max-size="12"
            rotate="true"
            previous-text="上一页"
            next-text="下一页"
            first-text="首页"
            last-text="末页">
          </uib-pagination>
        </div>
      </li>
    </ol>
  </div>

</div>
