<!--用户管理页面-->
<div class="user_page">
  <div class="new-loading" ng-show="!items">
    <img style="height:60px;width:60px;" src="images/load.png" alt="">
  </div>
<div class="set_mange">
  <div class="set_ser_btn">
    <p ng-click="adduser()">添加用户</p></div>
  <ul class="role_mange_list">
    <li class="role_li" ng-repeat="item in items" ng-show="items">
      <div class="role_block">
        <div class="set_top">
          <img src="images/user_manage.png"  class="set_top_tu">
        </div>
        <div class="set_bt">
          <p>{{item.username}}</p>
          <p>{{item.description}}</p>
        </div>
      </div>
      <div class="role_block_h" >
        <span ng-if="isadmin&&item.username!=='admin'" class="block_close" ng-click="deluser(item.username,item.id)" role="button" tabindex="0" style="display:block!important;"></span>
        <div class="service_one">
          <p class="serv_tit">用户来源</p>
          <p class="serv_detail">中信云用户中心</p>
        </div>
        <div class="h_set"></div>
        <p class="servie_change" ng-click="changeuser(item)">修改</p>
      </div>
    </li>
  </ul>
</div>

  <div class="page-style" >
    <div uib-pagination
         ng-model="grid.page"
         total-items="grid.total"
         items-per-page="grid.size"
         class="pagination-sm"
         boundary-links="false"
         max-size="12"
         rotate="true"
         previous-text="上一页"
         next-text="下一页"
         first-text="首页"
         last-text="末页">
    </div>
  </div>
  </div>
